<div class="container register-form mt-4 col-md-4">
    <div class="form">
        <div class="note">
            <p>Sign In</p>
        </div>

        <div class="form-content">
          <form #loginForm="ngForm" (ngSubmit)="signin()" >
            <div class="row">            
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email"  [(ngModel)]="user.email"  placeholder="Email" value="" required/>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="password" class="form-control" name="password"  [(ngModel)]="user.password"  placeholder="Password" value="" required/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btnSubmit" [disabled]="!loginForm.valid">Signin</button>
          </form>
        </div>
    </div>
</div>